body {
    margin: 0;
    bottom: 0;
}

.home {
    background: #000428;
}

.videoWrapper {
    /* position: relative;
z-index: 1; */
}

.myVideo {
    width: 100%;
    height: 20%;
    position: relative;
    z-index: 0 !important;
}

.logo {
    position: absolute;
    z-index: 2;
    left: 85%;
    top: 8%;
}

.text {
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 10%;
    color: beige;
    background: linear-gradient(#000428, #004e92);
    align-items: center;
    height: 70px;
}

/* .myNavbar {
    position: absolute;
    z-index: 2;
    width: 100%;
} */

.allCards {
    position: absolute;
    z-index: 2;
    top: 80%;
    /* left: 13%; */
    background: linear-gradient(#000428, #004e92);
    width: 100%;
    /* background: url('http://media-s3-us-east-1.ceros.com/business-insider/images/2018/05/14/3e3b00ae7b8c36512e1fe570a27b5ea8/airplane-gif-dr.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   */
}

.card {
    margin-left: 50px;
}

