.upback {
    background: url('./signUp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.boxup {
    background: url('./signUp.jpeg'); 
}

.inputup {
    background-color: rgb(167, 195, 241);
    margin: 0px 10px;
    border-radius: 1rem;
}
